.titulo {
background-color: #e73939;
color:white;

}

.titulo2 {
    background-color: #0f0c0c;
    color:white;
    float: center;
    
    }

.titulo1 {
    background-color: #ffffff;
    color:black;
    float: center;
    
    }




h4 {
    color: black;
    
}

left {
    float: left;

  }



  