<div class="container">
  <div class="row">
      
        <img src="../../../assets/formulario-03.png">
      
  </div>

  <p></p>
  <p></p>

  <div class="card">
    <div class="card-header bg-primary text-white text-center border border-primary">

     <h4>Bienvenido</h4>
          <p>Su inscripción como cliente factura electrónica quedó realizada de manera correcta, 
            a partir de este momento esperar 3 días hábiles, tiempo requerido para validar 
            la información suministrada. </p>
    </div>
  </div>
  
  <p></p>
  <p></p>
  <div class="col-md-12 text-center">
 <button type="button" class="btn btn-danger titulo" [routerLink]="'/singin'" >CONTINUAR</button>
 </div>
</div>