/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.warning-validator{
  color:red;

}


.fondoprincipal{
  background-image: url("/src/assets/bg-form1920x1080.jpg");
  
  background-repeat:no-repeat;
  background-position: center;
  width:1920px;
  height:1080px;
  background-size: cover;
  background-size: 100% 100%;
}